<div class="container phs">
  <div class="row nmhxs mtm">
    <div class="col-xs-8 phxs">
      <div class="fsm">
        <span class="c-8">This would be the page for </span><%= @source.name %>
      </div>
    </div>
    <div class="col-xs-4 phxs">

    </div>
  </div>
</div>