$shade1:          #000000;
$shade2:          #27292A;
$shade3:          #2F2F2F;
$shade4:          #353435;
$shade5:          #444444;
$shade6:          #58595B;
$shade7:          #777777;
$shade8:          #939597;
$shade9:          #AAAAAA;
$shade10:         #BDBEC1;
$shade11:         #CCCCCC;
$shade12:         #DDDDDD;
$shade13:         #EEEEEE;
$shade14:         #F2F4F4;
$shade15:         #FAFAFA;
$shade16:         #FFFFFF;

$blueGrey:        #BBCBCD;
$red:             #DD555E;
$orange:          #F26438;
$teal:            #45BECE;
