$font-size-xxxxxs:    8px;
$font-size-xxxxs:     10px;
$font-size-xxxs:      12px;
$font-size-xxs:       14px;
$font-size-xs:        16px;
$font-size-s:         18px;
$font-size-m:         20px;
$font-size-l:         22px;
$font-size-xl:        24px;
$font-size-xxl:       28px;
$font-size-xxxl:      36px;
$font-size-xxxxl:     42px;
$font-size-xxxxxl:    48px;
$font-size-xxxxxxl:   56px;
$font-size-xxxxxxxl:  64px;

$font-weight-s:     300;
$font-weight-m:     400;
$font-weight-l:     700;

$letter-spacing-xs: 0px;
$letter-spacing-s:  1px;
$letter-spacing-m:  2px;
$letter-spacing-l:  5px;
$letter-spacing-xl: 10px;
