.fsxxxxxs {
  font-size: $font-size-xxxxxs;
}

.fsxxxxs {
  font-size: $font-size-xxxxs;
}

.fsxxxs {
  font-size: $font-size-xxxs;
}

.fsxxs {
  font-size: $font-size-xxs;
}

.fsxs {
  font-size: $font-size-xs;
}

.fss {
  font-size: $font-size-s;
}

.fsm {
  font-size: $font-size-m;
}

.fsl {
  font-size: $font-size-l;
}

.fsxl {
  font-size: $font-size-xl;
}

.fsxxl {
  font-size: $font-size-xxl;
}

.fsxxxl {
  font-size: $font-size-xxxl;
}

.fsxxxxl {
  font-size: $font-size-xxxxl;
}

.fsxxxxxl {
  font-size: $font-size-xxxxxl;
}

.fsxxxxxxl {
  font-size: $font-size-xxxxxxl;
}

.fsxxxxxxxl {
  font-size: $font-size-xxxxxxxl;
}

@media (max-width: 680px) {
  .fsxxxxxs {
    font-size: .8 * $font-size-xxxxxs;
  }

  .fsxxxxs {
    font-size: .8 * $font-size-xxxxs;
  }

  .fsxxxs {
    font-size: .8 * $font-size-xxxs;
  }

  .fsxxs {
    font-size: .8 * $font-size-xxs;
  }

  .fsxs {
    font-size: .8 * $font-size-xs;
  }

  .fss {
    font-size: .8 * $font-size-s;
  }

  .fsm {
    font-size: .8 * $font-size-m;
  }

  .fsl {
    font-size: .8 * $font-size-l;
  }

  .fsxl {
    font-size: .8 * $font-size-xl;
  }

  .fsxxl {
    font-size: .8 * $font-size-xxl;
  }

  .fsxxxl {
    font-size: .8 * $font-size-xxxl;
  }

  .fsxxxxl {
    font-size: .8 * $font-size-xxxxl;
  }

  .fsxxxxxl {
    font-size: .8 * $font-size-xxxxxl;
  }

  .fsxxxxxxl {
    font-size: .8 * $font-size-xxxxxxl;
  }

  .fsxxxxxxxl {
    font-size: .8 * $font-size-xxxxxxxl;
  }
}

//font weights

.fws {
  font-weight: $font-weight-s;
}

.fwm {
  font-weight: $font-weight-m;
}

.fwl {
  font-weight: $font-weight-l;
}

.italicize {
  font-style: italic;
}

.lsxs {
  letter-spacing: $letter-spacing-xs;
}

.lss {
  letter-spacing: $letter-spacing-s;
}

.lsm {
  letter-spacing: $letter-spacing-m;
}

.lsl {
  letter-spacing: $letter-spacing-l;
}

.lsxl {
  letter-spacing: $letter-spacing-xl;
}

.nowrap {
  white-space: nowrap;
}

.upcase {
  text-transform: uppercase;
}

.drtl {
  direction: rtl;
}

.dltl {
  direction: ltl;
}
