<%= render "users/cover" %>
<div class="row nmhxs mtm">
  <div class="col-sm-8 phxs">
    <% @posts.each do |post| %>
      <%= render partial: "posts/quote", locals: { post: post } %>
    <% end %>
    <div class="text-center">
      <%= will_paginate @posts %>
    </div>
  </div>
  <div class="col-sm-4 phxs">
  </div>
</div>
