<div class="bg-1 full">
  <div class="container phs">
    <div class="row nmhxs mtxxxxl">
      <div class="col-xs-8 col-xs-offset-2 phxs">
        <div class="row nmhxs mtxxxxl">
          <div class="col-xs-6 phxs">
            <div class="dhxxxxxl mha">
              <%= image_tag "logo_big.png" %>
              <div class="mtm fws c-16 lhxs" style="font-size: 13px;">
                An entire social network between quotation marks.
              </div>
            </div>
          </div>
          <div class="col-xs-6 phxs">
            <div class="dhxxxxxl mha">
              <%= render partial: "devise/sessions/form" %>
              <div class="mtl">
                <%= link_to "#" do %>
                  <div>
                    <table>
                      <tr>
                        <td>
                          <i class="fa fa-facebook-square c-16 fsxxl"></i>
                        </td>
                        <td class="plm fsxxxs fwl c-16">
                          Sign up with Facebook
                        </td>
                      </tr>
                    </table>
                  </div>
                <% end %>
                <%= link_to "#" do %>
                  <div class="mtxs">
                    <table>
                      <tr>
                        <td>
                          <i class="fa fa-envelope c-16 fsxl"></i>
                        </td>
                        <td class="plm fsxxxs fwl c-16">
                          Sign up with email
                        </td>
                      </tr>
                    </table>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row nmhxs">
          <div class="col-xs-6 phxs">
            <div class="dhxxxxxl mha">
              <div class="c-teal lhxs" style="font-size: 13px;">
                This website is currently in beta.  We encourage all to try out vrbtm and provide feedback.
              </div>
            </div>
          </div>
          <div class="col-xs-6 phxs">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>