<div class="container phxs pbxxl">
  <div class="row nmhxs mtm">
    <div class="col-sm-8 phxs">
      <div class="pas bg-16 fwl bss bwhs bwts bwbm bc-2">
        Privacy Policy
      </div>
      <div class="mtxxxs">
        <div class="phs pvxs bg-16 bss bwhs bwts bwbm bc-2">
          <div>
            This Privacy Policy describes how and when vrbtm collects, uses and shares your information when you use vrbtm.herokuapp.com. vrbtm receives your information through email and Facebook sign up. When using vrtbm.herokuapp.com you consent to the collection, transfer, manipulation, storage, disclosure and other uses of your information as described in this Privacy Policy. Irrespective of which country you reside in or supply information from, you authorize vrbtm to use your information in the United States and any other country where vrbtm operates. If you have any questions or comments about this Privacy Policy, please contact us at info@vrbtm.herokuapp.com.
          </div>
          <div class="fwl mtm">Information Collection and Use</div>
          <div class="fsxxxs fwl mts">Information Collected Upon Registration</div>
          <div>
            When you create or reconfigure a vrbtm account, you provide some personal information, such as your full name, password, email address and or Facebook account. Some of this information, for example, your name and avatar, is listed publicly on vrbtm.herokuapp.com, including on your profile page and in search results.
          </div>
          <div class="fsxxxs fwl">
            Additional Information
          </div>
          <div>
            We may use your contact information to send you information about vrbtm or to market to you. You may use your account settings to unsubscribe from notifications from vrbtm. We may use your contact information to help others find your vrbtm account. We may suggest people to follow on vrbtm based on your Facebook account.
          </div>
          <div class="fsxxxs fwl">Cookies</div>
          <div>
            Like many websites, we use cookies and similar technologies to collect additional website usage data and to improve vrbtm.herokuapp.com. A cookie is a small data file that is transferred to your computer's hard disk. vrbtm may use both session cookies and persistent cookies to better understand how you interact with vrbtm.herokuapp.com, to monitor aggregate usage by our users and web traffic routing on vrbtm.herokuapp.com, and to customize and improve vrbtm.herokuapp.com. Most Internet browsers automatically accept cookies. You can instruct your browser, by changing its settings, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. However, vrbtm.herokuapp.com may not function properly if you disable cookies.
          </div>
          <div class="fsxxxs fwl">Log Data</div>
          <div>
            Our servers automatically record information ("Log Data") created by your use of vrbtm.herokuapp.com. Log Data may include information such as your IP address, browser type, operating system, the referring web page, pages visited, device and application IDs, search terms, and cookie information. We receive Log Data when you interact with vrbtm.herokuapp.com.
          </div>
          <div class="fwl mtm">
            Information Sharing and Disclosure
          </div>
          <div class="fsxxxs fwl mtm">
            Law and Harm
          </div>
          <div>
            Notwithstanding anything to the contrary in this Policy, we may preserve or disclose your information if we believe that it is reasonably necessary to comply with a law, regulation or legal request; to protect the safety of any person; to address fraud, security or technical issues; or to protect vrbtm's rights or property. However, nothing in this Privacy Policy is intended to limit any legal defenses or objections that you may have to a third party’s, including a government’s, request to disclose your information.
          </div>
          <div class="fsxxxs fwl">
            Business Transfers
          </div>
          <div>
            In the event that vrbtm is involved in a bankruptcy, merger, acquisition, reorganization or sale of assets, your information may be sold or transferred as part of that transaction. The promises in this Privacy Policy will apply to your information as transferred to the new entity.
          </div>
          <div class="fsxxxs fwl">
            Non-Private or Non-Personal Information
          </div>
          <div>
            We may share or disclose your non-private, aggregated or otherwise non-personal information, such as your public user profile information, public Posts, the people you follow or that follow you, or the number of users who clicked on a particular link (even if only one did).
          </div>
          <div class="fwl mtm">
            Modifying Your Personal Information
          </div>
          <div class="mtm">
            If you are a registered user of vrbtm.herokuapp.com, we provide you with tools and account settings to access or modify the personal information you provided to us and associated with your account. You can also permanently delete your vrbtm account. When your account is deactivated, it is not viewable on vrbtm.herokuapp.com.
          </div>
          <div class="fwl mtm">
            Our Policy Towards Children
          </div>
          <div class="mtm">
            Our Services are not directed to persons under 13. If you become aware that your child has provided us with personal information without your consent, please contact us at info@vrbtm.herokuapp.com. We do not knowingly collect personal information from children under 13. If we become aware that a child under 13 has provided us with personal information, we take steps to remove such information and terminate the child's account.
          </div>
          <div class="fwl mtm">
            Changes to this Policy
          </div>
          <div class="mtm">
            We may revise this Privacy Policy from time to time. The most current version of the policy will govern our use of your information and will always be at vrbtm.herokuapp.com/privacy. If we make a change to this policy that, in our sole discretion, is material, we will notify you via email to the email address associated with your account. By continuing to access or use the Services after those changes become effective, you agree to be bound by the revised Privacy Policy.
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 phxs">
    </div>
  </div>
</div>
