<div class="container phxs">
  <div class="row nmhxs mtm">
    <div class="col-sm-8 phxs">
      <% @tags.each do |tag| %>
        <%= link_to tag_path(tag) do %>
          <% random_number = rand(1000) %>
          <div class="mlxxxs mtxxxs paxxxs bg-2 c-16 fwl pointer pull-left js-gradient" data-number="<%= random_number %>">
            <%= tag.name %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-4 phxs">
    </div>
  </div>
</div>
