<% content_for :head do %>
  <meta property="fb:app_id"          content="733767459997727"/>
  <meta property="og:title"           content="<%= @post.quote.name %>"/>
  <meta property="og:url"             content="<%= post_url(@post) %>"/>
  <meta property="og:site_name"       content="vrbtm"/>
  <meta property="og:description"     content='"<%= @post.quote.text %>"' />
  <meta property="og:image"           content="https://s3.amazonaws.com/vrbtm2/fb-vrbtm.png" />
<% end %>
<div class="container phxs pbxxl">
  <div class="row nmhxs">
    <div class="col-sm-8 phxs mtm">
      <%= render partial: "posts/quote", locals: { post: @post} %>
    </div>
  </div>
</div>
